*{
    margin: 0;
    padding: 0;
}
.menu{
    height: 50px;
    width: 100%;
    background-color: coral;
    line-height: 50px;
    border-radius: 6px;
}
.menu ul li{
    list-style: none;
    float: left;
    margin-left: 80px;
    position: relative;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 100px;
    color: rgb(249, 252, 255);
    font-weight: bold;
}
.menu ul li a:hover{
    text-decoration: underline;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    width: 100px;
}
.menu ul ul a{
    display: block;
    line-height: 30px;
    color: chocolate;
    text-decoration: none;
    font-size: larger;
    padding: 0 10px;
    position: relative;
    right: 90px;
}
.menu ul li:hover ul{
    display: block;
}