*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    display: block;
    clear: both;
}
.wrapper{
    width: 100%;
    box-shadow: 0 1px 3px;
    background:#3e3436;
}
.menu{
    height: 50px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 150px;
}
.menu li{
    list-style: none;
    margin: 0;
    font-family: tahoma;
}
.menu a{
    text-decoration: none;
    color: #919191;
    transition:all linear 0.15s;
}
.menu li:hover, .menu .current-item > a{
    color: #be5b70;
}
.arrow{
    font-size: 11px;
    line-height: 0%;
}
.menu ul li{
    float: left;
    position: relative;
    font-size: 19px;
}
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    color:white;
}
.menu > ul > li:hover{
    background:#2e2728;
}
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
.sub-menu{
    width: 160%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    opacity: 0;
    z-index:-1;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
    transition:opacity linear 0.15s;
}
.sub-menu li{
    display: block;
    font-size: 16px;
}
.sub-menu li a{
    padding: 10px 30px;
    display: block;
}
.sub-menu li a:hover{
    background:#3e3436;
}