table{
    border-collapse: collapse;
    width: 400px;
    box-shadow: 0 0 5px gray;
    text-align: center;
}
td:hover{
    background-color: antiquewhite;
}
tr{
    height: 30px;
}
tr:nth-child(2n){
    background-color: pink;
}
tr:nth-child(2n+1){
    background-color:rgb(195, 188, 188);
}